body {
  background: #92AD94;
}

/* Torna visivel o botão de voltar do header */

.header-title {
  font-size: 24px;
}

.menu-toggle {
  cursor: pointer;
}

/* Estilos para o MenuLateral */
.menu-lateral {
  background-color: #222; /* Cor de fundo do menu lateral */
  color: white; /* Cor do texto no menu lateral */
  padding: 10px; /* Espaçamento interno */
  position: fixed;
  top: 0;
  left: 250px; /* Posição inicial (menu fechado) */
  width: 250px; /* Largura do menu lateral */
  height: 100%;
  transition: left 0.3s; /* Efeito de transição para animação */
}

.menu-lateral.aberto {
  left: 100; /* Posição final (menu aberto) */
}

/* Boltão mobile de voltar a tela principal */

.bvoltar {
  position: fixed;
  top: 1%;
  left: 1%;
  color: #0e440f;
  font-size: 20px;
  text-decoration: none;
}

/* Container */

.container-vendas {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: center;
  z-index: 0;
  margin-top: 50%;
  max-width: 85hv;
}

/* Display mobile */
@media screen and (max-width: 800px) {
  body {
    align-items: flex-start;
  }

  .header {
    display: none;
  }
  
  .container-vendas {
    margin-top: 100%;
    margin-left: 50%;
    margin-right: 10%;
    justify-content: center;
    padding-right: 10px;
    max-width: 40vw;
  }

  .input-container-vendas input {
    width: 80%;
  }
}


.input-container-vendas {
  background-color: #599768;
  padding: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  display: flex;  flex-direction: column;
  align-items: center;
  margin-top: -170px;
}

.input-container-vendas input {
  width: 300px;
}

.input-row-vendas {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.input-row-vendas label {
  width: 200px;
  text-align: left;
}

.button-container-vendas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.button-vendas {
  padding: 14px 30px;
  font-size: 23px;
  font-weight: bold;
  background-color: #00aa00;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button-vendas:active {
  background-color: #0a4c06;
  color: #000000;
}

#relatorios-link {
  color: yellow;
}


/* Tabelas produtos adicionados */

.input-row-cadastro-table-container {
  max-height: 200px;
  overflow-y: auto;
}

.barra-rolagem {
  table-layout: fixed;
  width: calc(100% - 5px);
}

.barra-rolagem tbody {
  padding-right: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #73AA77;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th, td label {
  color: #ffffff;
}


th {
  background-color: #0a4c06;
}


tbody tr:hover {
  background-color: #92c49e;
}