body {
  background: #92AD94;
  overflow-y: auto;
}

/* Torna visivel o botão de voltar do header */

.header-toggle {
  display: block;
}

/* Boltão Mobile de voltar a tela principal */

.bvoltar {
  position: fixed;
  top: 1%;
  left: 1%;
  color: #0e440f;
  font-size: 20px;
  text-decoration: none; /* Remover sublinhado do link */
}

/* Barra de Pesquisa */


.barra-pesquisa-venda {
  position: sticky;
  top: 12%;
  background-color: #599768;
  padding: 15px;
  display: flex;
  justify-content: center;
  width: 95%;
  border-radius: 15px;
  margin-bottom: 5%;
}

.barra-pesquisa-venda input {
  margin: auto;
  padding: 5px;
  border: none;
  background-color: #ffffff;
  border-radius: 3px;
}

.barra-pesquisa-venda span {
  margin-right: 10px;
}


/* Tabela */

table {
  height: auto;
  overflow-y: auto;
  width: 100%;
  border-collapse: collapse;
  background-color: #599768;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #599768;
}

tbody tr:hover {
  background-color: #92c49e;
}

.ant-table-content {
  color: rgb(0, 0, 0);
  font-weight: bold;
 }

/* /* Modal de edição */

.modal {
  display: relative;
  margin-top: -20%;
  margin-bottom: 50%;
  margin-left: 70%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.modal-content {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  z-index: 2;
  position: center;
}

.close {
  color: #aaa;
  float: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Botão Baixar Tablea */
#baixar-tabela-button {
  display: none;
  background-color: #599768;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 33%;
  right: 71%;
  transform: translateX(-50%);
}

#baixar-tabela-button:hover {
  background-color: #3c6445;
}


/* Botão de Limpar Tabela */

#limpar-tabela-button {
  background-color: #599768;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 33%;
  left: 70.5%;
  transform: translateX(-50%);
  margin-left: 10%;
}

#limpar-tabela-button:hover {
  background-color: #3c6445;
}

/* Display Mobile */

@media screen and (max-width: 800px) {
  body {
    align-items: flex-start;
    width: 600px;
  }

  .barra-pesquisa-venda {
    margin-top: 10%;
    width: 700px;
    margin-left: 200px;
  }

  #baixar-tabela-button {
    position: absolute;
    width: 100px;
    margin-top: 50px;
    left: 80px;
  }
  
  #limpar-tabela-button {
    position: absolute;
    margin-top: 50px;
    left: 650px;
    transform: translateX(-50%);
    margin-left: 10%;
  }
  
  .container {
    margin-top: 100%;
    margin-left: 50%;
  }

  .header {
    display: none;
  }
  
  .table-venda {
    font-size: 10px;
    justify-content: center;
    margin-right: 50%;
    width: 400px;
    margin-top: 50%;
    max-width: 50vw;
  }
}