body {
  background: #7a94b8;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
}


/* Header */

.section-divider {
    border: none;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.button-sair {
  color: #bd0000;
}

.image-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}


.watermark {
  position: relative;
  bottom: 10px;
  left: 1230px;
  color: #605757;
  font-size: 14px;
}

/* Display mobile */

@media screen and (max-width: 800px) {
  body {
    align-items: flex-start;
    width: 600px;
  }

  .watermark {
    bottom: 0px;
    left: 510px;
  }
}